<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="管理端.net">
					<match url="^Manage/([a-z|A-Z]+)(.*).html" />
					<action type="Rewrite" url="hrBase/hr_{R:1}.asp?Parm={R:2}" />
				</rule>
				<rule name="移动端.net">
					<match url="^Touch/([a-z|A-Z]+)(.*).html" />
					<action type="Rewrite" url="hrMobile/m_{R:1}.asp?Parm={R:2}" />
				</rule>
				<rule name="PC端.net">
					<match url="^Desktop/([a-z|A-Z]+)(.*).html" />
					<action type="Rewrite" url="hrDesktop/pc_{R:1}.asp?Parm={R:2}" />
				</rule>
				<rule name="API_VBS">
					<match url="^API/([a-z|A-Z]+)(.*).html" />
					<action type="Rewrite" url="API/api_{R:1}.asp?Parm={R:2}" />
				</rule>
				<rule name="API_PHP">
					<match url="^API/([a-z|A-Z]+)(.*).htm" />
					<action type="Rewrite" url="API/api_{R:1}.php?Parm={R:2}" />
				</rule>
				<rule name="SSO_HIS">
					<match url="^sso/([a-z|A-Z]+)(.*).html" />
					<action type="Rewrite" url="sso/sso_{R:1}.php?Parm={R:2}" />
				</rule>
			</rules>
		</rewrite>
        <httpErrors errorMode="Detailed" />
	</system.webServer>
</configuration>